<div class="container my-5">
  <h1 class="mb-3">Edit Employee</h1>

  <form #form="ngForm" (ngSubmit)="deleteEmployee()">
    <div class="mb-3">
      <label for="id" class="form-label">Id</label>
      <input type="text" class="form-control" id="id" name="id" disabled="true" [(ngModel)]="employeeDetails.id">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="employeeDetails.name">
    </div>
    <div class=" mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="employeeDetails.email">
    </div>
    <div class=" mb-3">
      <label for="phone" class="form-label">Phone</label>
      <input type="number" class="form-control" id="phone" name="phone" [(ngModel)]="employeeDetails.phone">
    </div>
    <div class=" mb-3">
      <label for="salary" class="form-label">Salary</label>
      <input type="number" class="form-control" id="salary" name="salary" [(ngModel)]="employeeDetails.salary">
    </div>
    <div class=" mb-3">
      <label for="department" class="form-label">Department</label>
      <input type="string" class="form-control" id="department" name="department"
        [(ngModel)]="employeeDetails.department">
    </div>
    <a class="btn btn-warning" type="button" href="employees">Cancel</a>
    <button type=" submit" class="btn btn-danger">Submit</button>
  </form>
</div>