<div class="container my-5">
  <h1 class="mb-3">Employees</h1>

  <table class="table" *ngIf="employees && employees.length > 0">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Salary</th>
        <th>Department</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.department }}</td>
        <td><a [routerLink]="['employees/edit',employee.id]">View</a></td>
        <td><a [routerLink]="['employees/delete',employee.id]" class="text-danger">Delete</a></td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!employees || employees.length == 0">Employees Not Found</p>
</div>